<!doctype html>
<!--Asignamos un nombre a nuestra app"-->
<html ng-app="nombreApp">

	<head>
	
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>		
		
	</head>

	<body ng-controller="controlador1">

	        <nav class="navbar navbar-fixed-top navbar-inverse">
            
            <div class="container">
                
                <div class="navbar-brand">
                    NG-ZOO
                </div>
                
                <button class="navbar-toggle" data-target=".navHeaderCollapse" data-toggle="collapse">
                    <span class="icon-bar">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                
                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class=" nav navbar-nav navbar-right">
                        <li class="active" ><a href="#"> Contacto </a></li>
                        <li><a href="#"> Nosotros</a></li>
                        <li><a href="#"> Animales</a></li>
                        <li><a href="#"> Visitas</a></li>
                    </ul>           
                </div>
                
            </div>
            
        
        </nav>
        
        
         <div class="jumbotron">
                <div class="container">
                    <h1>Bienvenido al NG-ZOO</h1>
					<input type="text" class="form-control" ng-model="incluirAnimal" />
					<button class="btn btn-warning btn-primary" ng-click="mostrarAnimales()">Añadir animales</button>
                </div>
         </div>
        
        <div class="container">
            
            


            <ul class="list-group">
                <li class="list-group-item" ng-repeat="animal in animales" >{{ animal }}</li>
            </ul>
                
            
        
        
        </div>	
	
	
		
	</body>	
	
	
	<script type="text/javascript">
	
		<!--Defino el modulo-->
		var miAplicacion = angular.module('nombreApp',[]);
		
		<!--Instancio el modulo y creo el controlador-->
		miAplicacion.controller('controlador1',['$scope',function($scope){
		<!--Acciones a realizar dentro de este controlador-->		

			$scope.animales = ['Tigre','Jirafa','Mono','Zefra'];
			
			$scope.mostrarAnimales = function(){
			
				$scope.animales.push($scope.incluirAnimal);
			
			};

			
		}]);
	
	
	</script>

	

</html>